.searched_users{
    height: 300px;
    overflow: auto;
    transition: 1s all ease;
    .user{
        transition: 0.3s all ease;
        &:hover{
            background-color: white;
            cursor: pointer;
        }
        
        .mini{
            font-size: 10px;
            color: #333;
        }
    }
}

.hide{
    height: 0;
    opacity: 0;
}