.group_list{
    max-width: 600px;
    .group_card{
        display: inline-block;
        margin: 1em;
        min-width: 200px;
        max-width: 200px;
        padding:0.75em;
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover{
            box-shadow: 0 0 10px black;
            transform: scale(1.1);
        }
        .title{
            display: flex;
            justify-content: flex-start;
            place-items: flex-end;
        }
    }
}

.group_panel, .admin_panel{
    min-width: 400px;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 2em;
    min-height: 100px;
}

.invite_group_box{
    height: 300px;
}

.group_panel{
    min-height: 300px;
    .header{
        display: flex;
        justify-content: space-between;
        place-items: flex-start;
        margin-bottom: 2em;

        height: 6em;
    }

}

.groupPanel_invite_btn{
    background-color: rgb(204, 214, 210);
    padding:1em ;
    margin-left: -134px;
    .header{
        height: 0;
    }
    #invite_list {
        width: 220px;
        height: 140px;
        overflow: auto;
        .listed_user {
            margin: 0.25em;
            padding: 0.3em 0.2em;
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-bottom: 2px solid grey;
        }
    }
}

.admin_panel{
    background: white;
    flex-direction: column;
}

.group_post{
    background-color: white;
    border-radius: 10px;
    margin: 1em;
    padding: 0.4em;

    .header{
        justify-content: space-between;
        place-items: flex-end;
        .subject{
            font-weight: 600;
            font-size: 20px;
        }
        .author{
            flex:1;
            color: grey;
            font-size: 12px;
        }

        .event_btns{
            flex: 2;
            
        }

        .date{
            flex: 1;
        }

        .green{
            background-color: rgba(0, 128, 0, 0.582);
        }
    }
    .content{
        padding:1em;
        justify-content: flex-start;
        place-items: flex-start;
        .image{
            width: 60px;
        }
    }
}